# Hugo
/public/
/resources/_gen/
hugo_stats.json

# Node
node_modules/
.npm
npm-debug.log*

# Build
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
